<%= simple_form_for(@device) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">

    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :device_type %>
    <%= f.input :serial_number %>
    <%= f.button :submit %>
  <p></p>
  </div>


<% end %>
