<%= simple_form_for(@device) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">

    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :device_type, :collection => [], as: :select, include_blank: false, hint: "Select Device Type", label: "Device Type" %>
    <%= f.input :serial_number %>
    <%= f.input :user_id, required: false, hint: 'select user' do %>
      <%= f.select :user_id, User.order(name: :asc).map { |r| [r.name, r.id] }, include_blank: true %>
    <% end %>
    <%= f.button :submit %>
  <p></p>
  </div>

<% end %>
